body{
    font-family: montserrat, sans-serif;
}

nav,
#menu-checkbox{
    display: none;
}

#menu-checkbox:checked ~ nav{
    display: block;
}

header{
    position: relative;
    padding: 10px 20px;
    font-size: 1.5rem;
}

nav{
    position: absolute;
    background: #DCF7FF;
    left: 0px;
    z-index: 1;
}

nav a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 55px;
    font-size: 1rem;
}

.banner {
    position: relative;
    /*height: 45rem;*/
    text-align: center;
}

.banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-position: center;*/
    margin: 0;
}

.banner-content{
    position: absolute;
    inset: 0;
    padding: 1rem;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    /*text-align: center;*/
    margin-top: 5rem;
}

.banner h1{
    font-weight: 400;
    font-style: normal;
}

a.cta-button{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0em 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    background-color: #DCF7FF;
    text-align: center;
    transition: all 0.2s;
}

a.cta-button:hover{
    background-color: #EAFAFF;
}

h2{
    font-size: 1.1rem;
    font-weight: 600;
    font-style: normal;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

.new{
    /*max-height: 100rem;*/
    display: flex;
    overflow-x: auto;
    padding: 5rem;
}

.new,
.item{
    /*min-width: 20rem;
    height: 25rem;*/
    display: flex;
    margin-left: -1.3rem;
    margin-top: -2rem;
    margin-right: 3rem;
    /*margin-right: 1rem;
    margin-left: 1.2rem;*/
    position: relative;
}

.image{
    object-fit: fill;
    max-height: 24.3rem;
}

.text{
    position: absolute;
    margin-top: 25.5rem;
    font-weight: 500;
    font-size: 1rem;
}

.text2{
    position: absolute;
    margin-top: 27.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.new::-webkit-scrollbar{
    overflow: hidden;
}

.row{
    display: flex;
}

.column{
    flex: 40%;
    padding: 10px;
    position: relative;
}

.text-winx{
    position: absolute;
    font-size: 0.8rem;
    margin-top: -4.8rem;
    margin-left: 0.7rem;
}

.winx,
.winx2{
    padding: 0.4rem;
}

.text-news{
    position: absolute;
    font-size: 0.8rem;
    margin-top: -4.8rem;
    margin-left: 0.7rem;
    color: white;
}

.news,
.news2{
    padding: 0.4rem;
}

.winx-fade{
    opacity: 50%;
}

.winx-fade:hover{
    opacity: 100%;
}

.news-fade{
    opacity: 50%;
}

.news-fade:hover{
    opacity: 100%;
}

/*THIS IS THE WOMENS AND MENS PAGE*/

.row-women{
    display: flex;
    margin-top: 5rem;
}

.column-women{
    flex: 33.33%;
    padding: 1rem;
}

.text-women{
    font-size: 0.7rem;
    padding-top: 0.5rem;
    font-weight: 500;
}

.text-women2{
    font-size: 0.7rem;
    padding-top: 0.5rem;
    font-weight: 400;
}

.colors-womens{
    display: flex;
}

.color,
.color2,
.color3{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    margin-top: 0.7rem;
}

.color{
    background-color: #56667E;
}

.color2{
    background-color: black;
}

.color3{
    background-color: #630000;
}

/*THIS IS THE PRODUCT PAGE*/

.product-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 3rem;
}

.container-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 3rem;
}

.text-item{
    position: absolute;
    font-weight: 500;
    font-size: 1rem;
}

.text-item2{
    position: absolute;
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.line{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 0.1rem;
    background-color: black;
    margin-top: 8rem;
}

.container-text2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 1rem;
}

.color4,
.color5,
.color6{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}

.color4{
    background-color: #56667E;
}

.color5{
    background-color: black;
}

.color6{
    background-color: #630000;
}

h3{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3rem;
}

.size-boxes{
    display: flex;
    justify-content: center;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-top: 1rem;
    /*justify-content: space-evenly;*/
}

.size-box{
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
    margin-right: 2rem;
    outline: 0.1rem solid #c6c6c6;
    font-size: 0.8rem;
}

a.button{
    display: flex;
    padding: 0.8rem 15rem;
    margin-top: 3rem;
    border-radius: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #808080;
    text-align: center;
}

.size-guide{
    margin-top: 3rem;
    text-decoration: underline;
}

.payment-logos{
    margin-top: 1.5rem;
}

.product{
    margin-top: 4rem;
    font-size: 1rem;
}

.product-p{
    margin-top: 2.5rem;
}

.product-p2,
.product-p3{
    margin-top: 1.5rem;
}

.line2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 0.1rem;
    background-color: black;
    margin-top: 3rem;
}

li{
    margin-left: -1.2rem;
    margin-top: 2rem;
}


/*MEDIA QUERIES*/

@media all and (max-width:30em){
    a.cta-button{
        display: block;
        margin: 0.2em auto;
    }
}

.buttons{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

}


@media (min-width: 850px){
    nav{
        display: block;
        position: static;
        background: #DCF7FF;
        /*height: 7rem;*/
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .hamburger-icon{
        display: none;
    }

    nav a{
        display: inline-block;
    }

    a.about{
        position: relative;
        float: right;
    }
    
    a.contact{
        position: relative;
        float: right;
    }

    .logo-box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: fill;
    }
    
    .logo{
        margin-top: 1rem;
        position: absolute;
    }

    .text-women{
        font-size: 0.9rem;
        padding-top: 0.7rem
    }
    
    .text-women2{
        font-size: 0.9rem;
        padding-top: 0.7rem;
    }

    .color,
    .color2,
    .color3{
    width: 0.8rem;
    height: 0.8rem;
}
}